.contact-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-contact textarea,
.form-contact input[type="text"],
.form-contact input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-contact textarea {
    height: 100px;
}

.form-contact input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-contact input[type="submit"]:hover {
    background-color: #0056b3;
}
.C-h1{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}
.C-p{
    font-size: 0.9rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: #585858;
}