@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./colors.css);


nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-left {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.nav-left img {
    max-height: 40px;
    padding: 5px;
    margin-left: 0.5rem;
}

.nav-left p {
    font-family: "Roboto Condensed", sans-serif;
    padding: 10px;
    margin-left: 0.5rem;
    font-size: 2.5rem;
}

.nav-right {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.button-menu-float {
    display: none;
}

@media screen and (max-width: 850px) {
    .button-menu-float {
        display: block;
        background: transparent;
        border: none;
        padding: 10px;
        margin-right: 1rem;
        cursor: pointer;
    }

    .menu-horizontal {
        display: none;
    }
}

/* Clases para el color del texto */
.text-dark {
    color: #000;
}

.text-light {
    color: #fff;
}
