.div-gusano{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.g-part1, .g-part2, .g-part3{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}
.g-part1{
    background:#A93226;
}
.g-part2{
    background:#D4AC0D ;
}
.g-part3{
    background:#148F77 ;
}
p{
    padding: 10px;
}
span{
    margin: 0.5rem;
}
@media screen and (max-width: 768px) {
    .div-gusano{
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .g-part1, .g-part2, .g-part3{
        width: 100%;
        height: 30%;
    }
}  