.menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
    margin: 0;
    padding: 0;

}

.menu > li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
}

.menu li a,
.menu li span {
    display: block;
    text-decoration: none;
    padding: 10px;
    border-bottom: 2px solid transparent;
    color: #000;
}

.menu li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 140px;
    /* background-color: rgba(41, 38, 38, 0.9); Color de fondo del submenú */
    /* border: 1px solid #ddd; Borde del submenú */
    background-color: #fff;
    color: black;
}

.menu li:hover > ul {
    display: block;
}

.menu li ul li {
    position: relative;
}

.menu li ul li ul {
    left: 100%; /* Ajuste para que el submenú se posicione a la derecha */
    top: 0;
}


.menu a:hover,
.menu span:hover {
    color: #626567;
    border-radius: 0.5rem;
    background-color: #E5E7E9;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.submenu {
    width: 230px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: transparent;
    position: absolute;
    z-index: 5;
}

.submenu li {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
}


@media screen and (max-width: 1024px) {

.menu {
    display: inline-flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
}
    
}