.LoginPass-content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginPass-content form {
    width: 90%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.LoginPass-content img {
    height: 90px;
    margin-bottom: 20px;
}

.LoginPass-content label {
    width: 100%;
    max-width: 22em;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.LoginPass-content input {
    width: 100%;
    outline: none;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.LoginPass-content button {
    width: 100%;
    max-width: 25em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.L-h1{
    font-size: 2.5rem;
    font-weight: 400;
}
.L-p{
    font-size: 0.9rem;
    text-align: center;
    color: rgb(107, 105, 105);
    margin-top: 1rem;
    margin-bottom: 1rem;
}