.teacher-body{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Tb-h1{
    font-size: 3rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
}
.Tb-p{
    width: 100%;
    text-align: center;
}
.card-content-T{
    /* background-color: yellowgreen; */
    width: 75em;
    height: 60vh;
    padding: 10px;
    display: flex;
    margin: 1rem;
}

.imagen-teacher{
    /* background-color: violet; */
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagen-teacher img{
    height: 90%;
}
.info-teacher{
    width: 70%;
    height: 100%;
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
}
.info-teacher h1{
    font-size: 2.5rem;
    font-weight:400;
}
.info-teacher span{
    font-size: 1.5rem;
    color: rgb(88, 88, 88);
}
.info-teacher p{
    font-size: 1.1rem;
    margin-top: 1rem;
}
.S-teachers{
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .card-content-T{
        /* background-color: yellowgreen; */
        width: 95%;
        height: 100vh;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .imagen-teacher{
        /* background-color: violet; */
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .info-teacher{
        width: 100%;
        height: 50%;
        /* background-color: tomato; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}