*{
  padding: 0;
  margin: 0;
}
.App{
  width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.sections{
  width: 100%;
  height: 100vh;
}
.content-sliders-a {
  width: 95vw; /* Establece el ancho al 100% del ancho de la ventana */
  white-space: nowrap; /* Evita que el contenido se ajuste al ancho de su contenedor */
  overflow-x: auto; /* Habilita la barra de desplazamiento horizontal cuando el contenido es demasiado ancho */
  box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total del elemento */
  overflow: hidden;
}
h2{
  width: 100%;
  text-align: center;
  margin-top: 2rem;

  font-weight: 500;
}